@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 247 236 235;
  --tw-color-primary-100: 241 222 220;
  --tw-color-primary-200: 230 194 191;
  --tw-color-primary-300: 214 156 151;
  --tw-color-primary-400: 198 117 110;
  --tw-color-primary-500: 182 80 71;
  --tw-color-primary-600: 141 62 55;
  --tw-color-primary-700: 101 44 39;
  --tw-color-primary-800: 61 27 24;
  --tw-color-primary-900: 20 9 8;
  --color-primary-50: rgb(var(--tw-color-primary-50));
  --color-primary-100: rgb(var(--tw-color-primary-100));
  --color-primary-200: rgb(var(--tw-color-primary-200));
  --color-primary-300: rgb(var(--tw-color-primary-300));
  --color-primary-400: rgb(var(--tw-color-primary-400));
  --color-primary-500: rgb(var(--tw-color-primary-500));
  --color-primary-600: rgb(var(--tw-color-primary-600));
  --color-primary-700: rgb(var(--tw-color-primary-700));
  --color-primary-800: rgb(var(--tw-color-primary-800));
  --color-primary-900: rgb(var(--tw-color-primary-900));
  /* #endregion  /**======== Primary Color =========== */

  /* #region  /**=========== Secondary Color =========== */
  --tw-color-secondary-50: 254 252 250;
  --tw-color-secondary-100: 250 240 234;
  --tw-color-secondary-200: 239 208 189;
  --tw-color-secondary-300: 228 175 143;
  --tw-color-secondary-400: 218 143 98;
  --tw-color-secondary-500: 207 111 53;
  --tw-color-secondary-600: 164 86 39;
  --tw-color-secondary-700: 119 62 28;
  --tw-color-secondary-800: 74 39 18;
  --tw-color-secondary-900: 28 15 7;
  --color-secondary-50: rgb(var(--tw-color-secondary-50));
  --color-secondary-100: rgb(var(--tw-color-secondary-100));
  --color-secondary-200: rgb(var(--tw-color-secondary-200));
  --color-secondary-300: rgb(var(--tw-color-secondary-300));
  --color-secondary-400: rgb(var(--tw-color-secondary-400));
  --color-secondary-500: rgb(var(--tw-color-secondary-500));
  --color-secondary-600: rgb(var(--tw-color-secondary-600));
  --color-secondary-700: rgb(var(--tw-color-secondary-700));
  --color-secondary-800: rgb(var(--tw-color-secondary-800));
  --color-secondary-900: rgb(var(--tw-color-secondary-900));
  /* #endregion  /**======== Secondary Color =========== */
}

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1536px */
    @apply mx-auto max-w-screen-3xl;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  /* Display scrollbar */
  .default-scrollbar::-webkit-scrollbar {
    display: block;
  }

  /* Display scrollbar for IE, Edge and Firefox */
  .default-scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
